@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
   background: url('imagens/fundotela.webp');
   background-attachment: fixed;
    width: 100vw;
}
header{
    background-color: rgb(45, 51, 56); 
    position: relative;
    height: 15vh;
}
#logo{
    position: absolute;
    top: 10%;
    left: 5%;
    background-color: lightblue;
    height: 30px;
    width: 30px;
    
}
#h1{
    position: absolute;
    top: 10%;
    left: 25%;
    background-color: rgb(44, 127, 155);
    height: 40px;
    width: 250px;
    margin: auto;
}
#menus{
    background-color: rgb(99, 99, 201);
    display: inline-block;
    position: absolute;
    top: 70%;
    left: 40%;
}
a{
    


    height: 30px;
    width: 30px;
}
#redessociais{
    background-color: rgb(45, 183, 230);
    display: inline-block;
    position: absolute;
    top: 70%;
    left: 5%;
}
main{
    max-width: 500px;
    margin: auto;
    
}

.setores{
    height: 40vh;
    position:relative;
    background-color: rgba(137, 43, 226, 0.541);
    border: 1px solid black;
}
.paragrafos{
    padding: 15px;
    margin-left: 15px;
    padding-top: 5%;
    width: 30%;
    
}
.imagens{
    position: absolute;
    top: 5%;
    left: 50%;
    width: 48%;
    height: 90%;
    background-color: rgb(52, 102, 102);
}